@model IEnumerable<Author>

	<a asp-action="create" class="btn btn-default">Add Author</a>
<h2 id="page-title"> OuR Recommended Author</h2>

<table class="table table-compact table-striped table-hover">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Tags</th>
			<th>Actions</th>
		</tr>
		<script>  
		function Confirm() {
            var confirm_value = document.createElement("INPUT");
            confirm_value.type = "hidden";
            confirm_value.name = "confirm_value";
            if (confirm("Do you want to Delete?")) {
                 onClick="delete"
            } else {
                confirm_value.value = "No";
            }
            document.forms[0].appendChild(confirm_value);
		</script>
	</thead>
	<tbody>
		@foreach(var author in Model)
		{
			<tr>
				<td>
					<img  class="thumbnail"src=@author.Photo />
				</td>
				<td>
					@author.Name
				</td>
				<td>
					@foreach (var tag in @author.Tags)
					{
						<span class="badge badge-black"> @tag </span>
					}
				</td>
				<td>
					<a class="btn btn-sm btn-primary" asp-controller="author" asp-action="details" asp-route-id="@author.Id">Details</a>
					<a class="btn btn-sm btn-primary"  asp-action="edit" asp-route-id="@author.Id">Edit</a>
					<a class="btn btn-sm btn-danger" asp-controller="author"     OnClientClick = "Confirm()" asp-route-id="@author.Id">Delete</a>
				</td>
			</tr>
		
		}
		
	</tbody>
</table>